<h1>Kaydol</h1>
<form #loginregisterform="ngForm" (ngSubmit)="register(loginregisterform)">
  <div class="from-group">
    <label for="username">Kullanıcı adı:</label><br>
    <input required minlength="5" ngModel #username="ngModel" type="text" id="username" name="username"
      value="süper ilanım"><br>
    <div *ngIf="username.touched && !username.valid" class="alert alert-danger">
      <div *ngIf="username.errors?.required">
        Bu alan gerekli!
      </div>
      <div *ngIf="username.errors?.minlength">
        Minimum 5 karakter uzunluğunda olmalıdır!
      </div>
    </div>
    <label for="password">Şifre:</label><br>
    <input required minlength="5" ngModel #password="ngModel" ngModel #password type="text" id="password"
      name="password" value="şöyle iyi böyle iyi"><br>
    <div *ngIf="password.touched && !password.valid" class="alert alert-danger">
      <div *ngIf="password.errors?.required">
        Şifreni doldurmayı unuttun.
      </div>
    </div>
  </div>
</form>
