<p>admin-kullanicilar works!</p>
<div class="kullanicilar">
  <div class="kullanici" matRipple [matRippleColor]="trigger">
    <div class="kullanici-title"> Kullanıcı</div>

  </div>
  <div class="kullanici" matRipple [matRippleColor]="trigger">Kullanıcı</div>
  <div class="kullanici" matRipple [matRippleColor]="trigger">Kullanıcı</div>
  <div class="kullanici" matRipple [matRippleColor]="trigger">Kullanıcı</div>
  <div class="kullanici" matRipple [matRippleColor]="trigger">Kullanıcı</div>
</div>
