<nav class="navbar navbar-expand-lg navbar-light" style="background: #3f475f;  height: 65px;">
  <div class="container">
    <a class="navbar-brand" style="font-weight:bold" routerLink="/">alimertten.net</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="color:#fff!important">
            Kategoriler
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/kategori/1">Taşıt</a></li>
            <li><a class="dropdown-item" href="/kategori/3">Emlak</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/kategori/4">Hizmet</a></li>
          </ul>
        </li>

      </ul>
      <form class="d-flex" style="min-width:300px">
        <input class="form-control me-2" type="search" placeholder="İlan, kategori veya marka ara" aria-label="Search"
          style="background: #2f3546;border:none; color:rgb(250, 250, 250); font-weight:600"
          (keyup.enter)="onAra($event.target.value)">
      </form>
      <a class="btn  ml-2" routerLink="/giris" style="color:#fff;font-size:12px">Giriş Yap</a>
      <a class="btn ml-2" routerLink="/kayit" style="color:#fff;font-size:12px">Üye Ol</a>
      <button class="btn btn-success" type="submit" style="background: #489af1;color:#fff!important;font-weight:bold!important; border-radius:0px;font-size:12px;    padding: 10px 19px 8px 19px;
          margin-left: 13px;position:relative; top:-1px" routerLink="/ilan-ekle">Ücretsiz İlan Ver</button>
    </div>
  </div>
</nav>
