<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      Antalya İlanları
      <small class="d-block mb-3 text-muted">© 2020 - ∞</small>
    </div>
    <div class="col-6 col-md">
      <h5>İletişim</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">İletişim</a></li>
        <li><a class="text-muted" href="#">Whatsapp</a></li>
        <li><a class="text-muted" href="#">Çağrı Merkezi</a></li>
        <li><a class="text-muted" href="#">Adres</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Hakkımızda</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Neden Antalya İlanları?</a></li>
        <li><a class="text-muted" href="#">Yasaklı Ürünler</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Bilgi</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Üyelik Sözleşmesi</a></li>
        <li><a class="text-muted" href="#">Kullanım Koşulları</a></li>
        <li><a class="text-muted" href="#">Kişisel Veri Politikası</a></li>
        <li><a class="text-muted" href="#">Gizlilik Politikası</a></li>
      </ul>
    </div>
  </div>
</footer>
