<div class="admin-container">
  <div class="admin_container__menuler">
    <mat-tab-group>
      <mat-tab label="Analiz">
        <div class="admin-content">
          <app-admin-analiz></app-admin-analiz>
        </div>
      </mat-tab>
      <mat-tab label="Kullanıcılar">
        <div class="admin-content">
          <app-admin-kullanicilar></app-admin-kullanicilar>
        </div>
      </mat-tab>
      <mat-tab label="İlanlar">
        <div class="admin-content">
          <app-admin-ilanlar></app-admin-ilanlar>
        </div>
      </mat-tab>
      <mat-tab label="Kategori düzenle ">
        <div class="admin-content">
          <app-admin-kategori></app-admin-kategori>
        </div>
      </mat-tab>
      <mat-tab label="Arama düzenle ">
        <div class="admin-content">
          <app-admin-arama></app-admin-arama>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
