<div class="admin-container">
  <div class="admin_container__menuler">
    <mat-tab-group>
      <mat-tab label="Kullanıcılar">
        <app-admin-kullanicilar></app-admin-kullanicilar>
      </mat-tab>
      <mat-tab label="İlanlar">
        <app-admin-ilanlar></app-admin-ilanlar>
      </mat-tab>
      <mat-tab label="Kategori düzenle ">
        <app-admin-kategori></app-admin-kategori>
      </mat-tab>
      <mat-tab label="Arama düzenle ">
        <app-admin-arama></app-admin-arama>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
